pandas==2.2.2
scikit-learn==1.5.2
xgboost==2.0.3
joblib==1.4.2
PyYAML==6.0.2
chardet==5.2.0
psutil==5.9.8
numpy==1.26.4
pyarrow==19.0.1
seaborn>=0.11.0
scipy>=1.7.0
matplotlib>=3.5.0
shap==0.47.2
pytest==8.3.3
